@import 'bulma';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --gamdle-darker-color: #0d0e11;
}

.navbar {
    height: 64px;
    background-color: #0a0a0a;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.2em;
}
